body {
      font-family: "Raleway", Arial, sans-serif;
      padding: 30px;
    }
    .w3-row img {
      margin: -8px
    }
/* Para el menú de opciones */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    color: lime;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #0d6efd;
  }
/* Barra de navegación*/
.navbar {
    background-color: #333;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #555;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-content li a {
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    /* Fin estilo menú de opciones */  
    td{      
        padding: 5px;
    }